---
layout: base.njk
permalink: "/{{ slug or episodeNumber }}/"
eleventyComputed:
  titleWithEpisode: "{%if episodeNumber %}{{ episodeNumber }}: {% endif %}{{ title }}"
  op3link: "{{ podcast.fileLocation }}{{ fileName }}"
---

{% include "includes/episode-content.njk" %}

{% include "includes/episode-pagination.njk" %}
