header.main {
  padding: 1.5rem 0;  
  
  .content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    row-gap: 0.5rem;
    column-gap: 1.5rem;
  }
  
  .cover {
    height: 100px;
  }
  
  .title-nav-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex-grow: 1;
  }
}

a.home-link:hover {
  border: none;
}

.site-title {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: white;
  font-family: var(--mono);
  font-size: var(--font-size-plus-8);
  font-weight: 900;
  
  a {
    color: inherit;
  }
  
  a:hover {
    border: none;
  }

  a:active {
    color: var(--link-color);
  }
}

@media only screen and (max-width: 570px) {
  .site-title {
    font-size: 11vw;
  }
  
  header.main .content {
    flex-direction: column;
    text-align: center;
  }
}
