.nav {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.75rem;
  row-gap: 0;
  margin: 0;
  padding: 0;
  font-size: var(--font-size-minus-1);
  font-weight: 500;
  font-feature-settings: var(--all-small-caps);
  
  li {
    margin: 0;
    display: inline-block;
  }
}

.nav-item a:not(:hover) {
  color: var(--secondary-light);
  
  .nav-current:not(.nav-home) & {
    color: var(--link-color);
  }
}

@media only screen and (max-width: 570px) {
  .nav {
    justify-content: center;
    
  }
}
