:root {
  /* Colors */
  --background-color: #f4f4f4;
  --header-background-color: black;
  --primary: #0c1203;
  --secondary: #5f676b;
  --primary-light: #dfe1e2;
  --secondary-light: #9eabb3;
  --link-color: #1e90ff;
  --link-border-color: #095aa9;
  
  @media (prefers-color-scheme: dark) {
    --background-color: #1e1f21;
    
    --primary: var(--primary-light);
    --secondary: var(--secondary-light);
  }
  
  --content-width: 80%;
  --content-max-width: 35rem;

  --sans: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  --mono: 'Nimbus Mono PS', 'Courier New', monospace;

  --font-size-minus-3: 0.702rem;
  --font-size-minus-2: 0.79rem;
  --font-size-minus-1: 0.889rem;
  --font-size: 1rem;
  --font-size-plus-1: 1.266rem;
  --font-size-plus-2: 1.424rem;
  --font-size-plus-3: 1.602rem;
  --font-size-plus-4: 1.802rem;
  --font-size-plus-5: 2.027rem;
  --font-size-plus-6: 2.281rem;
  --font-size-plus-7: 2.566rem;
  --font-size-plus-8: 2.887rem;
  
}
