---
permalink: "/feed.xml"
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:podcast="https://podcastindex.org/namespace/1.0">
  <channel>
    <generator>{{ eleventy.generator }}</generator>
    <title>{{ podcast.title }}</title>
    <description>{{ podcast.description }}</description>
    <copyright>{{ podcast.author }}</copyright>
    <language>{{ podcast.language }}</language>
    <pubDate>{{ collections.episodes | collectionLastUpdatedDate }}</pubDate>
    <lastBuildDate>{% currentDate %}</lastBuildDate>
    <image>
        <link>{{ podcast.url }}</link>
        <title>{{ podcast.title }}</title>
        <url>{{ podcast.image }}</url>
    </image>
    <link>{{ podcast.url }}</link>
    <itunes:type>episodic</itunes:type>
    <itunes:summary>{{ podcast.description }}</itunes:summary>
    <itunes:author>{{ podcast.author }}</itunes:author>
    <itunes:explicit>false</itunes:explicit>
    <itunes:image href="{{ podcast.image }}"/>
    <atom:link href="{{ podcast.feedPath }}" rel="self"/>
    <itunes:new-feed-url>{{ podcast.feedPath }}</itunes:new-feed-url>
    <itunes:owner>
        <itunes:name>{{ podcast.owner.name }}</itunes:name>
        <itunes:email>{{ podcast.owner.email }}</itunes:email>
    </itunes:owner>
    <itunes:category text="{{ podcast.category }}"/>
    {%- for episode in collections.episodes | reverse %}
    <item>
        <guid isPermaLink="false">{{ episode.data.guid }}</guid>
        <title>{{ episode.data.titleWithEpisode }}</title>
        <pubDate>{{ episode.data.date | rfc822Date }}</pubDate>
        <author>{{ podcast.author }}</author>
        <link>{{ podcast.url}}{{ episode.url }}</link>
        <enclosure length="{{ episode.data.length }}" type="audio/mpeg" url="{{ episode.data.op3link }}"/>
        {%if episode.data.episodeNumber %}<itunes:episode>{{ episode.data.episodeNumber }}</itunes:episode>{% endif %}
        <itunes:title>{{ episode.data.title }}</itunes:title>
        <itunes:author>{{ podcast.author }}</itunes:author>
        <itunes:duration>{{ episode.data.duration }}</itunes:duration>
        <itunes:summary>{{ episode.data.summary }}</itunes:summary>
        <itunes:subtitle>{{ episode.data.summary }}</itunes:subtitle>
        <itunes:explicit>false</itunes:explicit>
        <itunes:episodeType>
          {%- if episode.data.bonus -%}bonus
          {%- else -%}full
          {%- endif -%}
        </itunes:episodeType>
        {%if episode.data.transcript %}<podcast:transcript url="{{ episode.data.transcript }}" type="text/vtt" />{% endif %}
        <description><![CDATA[ <p>{{ episode.data.summary }}</p> <p><strong>Links and Show Notes</strong></p> {{ episode.templateContent | safe }} ]]></description>
    </item>
    {%- endfor -%}
  </channel>
</rss>
