<article class="post{% if link %} link-post{% endif %}">
    <header class="episode-header">
        <h1 class="episode-title">{{ title }}</h1>
        <section class="episode-meta">
            <time class="episode-date" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
        </section>
    </header>
    <audio controls>
        <source src="{{ episode.data.file }}" type="audio/mpeg">
    </audio>
    <section class="episode-content">
        {{ content | safe }}
    </section>
</article>
