<article class="episode episode-loop-item">
    <header class="episode-header">
        <h1 class="episode-title">
            <a href="{{ episode.url }}">{{ episode.data.title }}</a>
        </h1>
        <section class="episode-meta">
            <time class="episode-date" datetime="{{ episode.date | htmlDateString }}">{{ episode.date | readableDate }}</time>
        </section>
    </header>
    <p class="episode-summary">
        {{ episode.data.summary | safe}}
    </p>
    <audio controls>
        <source src="{{ episode.data.file }}" type="audio/mpeg">
    </audio>
</article>
