<nav class="pagination">
{% if pagination.href.next %}<a class="older" href="{{ pagination.href.next }}">&larr;&nbsp;Older</a>{% endif %}
{% if pagination.href.previous %}<a class="newer" href="{{ pagination.href.previous }}">Newer&nbsp;&rarr;</a>{% endif %}
</nav>
