{%- if collections.episodes %}
{%- set previousEpisode = collections.episodes | getPreviousCollectionItem %}
{%- set nextEpisode = collections.episodes | getNextCollectionItem %}
{%- if nextEpisode or previousEpisode %}
<nav class="pagination" role="navigation">
    {%- if previousEpisode %}
    <a class="prev-episode" href="{{ previousEpisode.url }}">← {% if previousEpisode.data.title %}{{ previousEpisode.data.title }}{% else %}Previous{% endif %}</a>
    {% endif %}
    {%- if nextEpisode %}
    <a class="next-episode" href="{{ nextEpisode.url }}">{%if nextEpisode.data.title %}{{ nextEpisode.data.title }}{% else %}Next{% endif %} →</a>
    {% endif %}
</nav>
{%- endif %}
{%- endif %}
